/*
* bulid : 2019-07-15
* 제작자 : 김재일
* 투비 MES CSS
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {font-family: "Nanum Gothic", sans-serif;}
.top{background-color: #444; color: #ffffff; font-size: 12px; width: 100%; height: 20px; margin: auto; font-weight: 700;}
.gb-a:link {color: #000000;text-decoration: none;}
.gb-a:hover {color: #1453a1;text-decoration: none;}
.gb-a:visited {color: #000000;text-decoration: none;}

.nav-link:link {color: #ffffff;text-decoration: none;}
.nav-link:hover {color: #ffffff;text-decoration: none;}
.nav-link:visited {color: #ffffff;text-decoration: none;}

.right{float:right; text-align: right; margin: auto;}
.header{height: 70px;}
.banner{margin: 15px; background-color: #ffffff; height: 50px;}
.gb-banner-info{font-size: 13px}
.gb-banner{color: #a0a0a0}
p{margin: auto}
.sub_header{background-color: #1453a1; border:1px solid #1453a1; height: 60px; color: #ffffff;}
.quick_menu{margin: auto}
.navs{font-weight: 700;color: #ffffff;}
.down-icon{float: right}

.sub_menu{text-align: left;margin-left: 30px; margin-right: 30px; font-size: .875rem; padding-top:5px; padding-bottom: 5px;}
.sub_menu_a:visited {color: #000000;text-decoration: none;}
.sub_menu_a:hover{color:#1453a1;text-decoration: none;}

.dsub_menu{text-align: left;margin-left: 60px; margin-right: 30px; font-size: .875rem; padding-top:5px; padding-bottom: 5px;}
.dsub_menu_a:visited {color: #000000;text-decoration: none;}
.dsub_menu_a:hover{color:#1453a1;text-decoration: none;}
/*.sub_menu:hover{background-color: #1453a1; color: #ffffff;}*/

/* 트리메뉴 */
.tree_box { width:400px; border:1px solid #ccd3d9;margin: 30px auto;}
.tree_box .title { padding:5px 0 5px 19px ;background:#f8f8f9;border-bottom:1px solid #ccd3d9;}
.tree_box .title strong {margin-right:12px;}
.tree_menu {line-height:18px;}
.tree_menu strong {font-weight:normal;}
.tree_menu label input {vertical-align:-2px;}
.tree_menu .depth_1 a {vertical-align:bottom;text-decoration:none;}
.tree_menu .depth_1 strong {padding-left:19px;background:url(http://cfile26.uf.tistory.com/image/224E6B45569458082AA795) no-repeat 0px 2px;}
.tree_menu .depth_2 li {margin-top:-2px;background:url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E) no-repeat 5px 0px;}
.tree_menu .depth_2 li a em {display:inline-block;width:31px;height:11px;background:url(http://cfile27.uf.tistory.com/image/2265AB4B569457FD1306CB) 100% 0;font-size:0;line-height:0;vertical-align:middle;}
.tree_menu .depth_2 li a em.on {background-position:0 100%;}
.tree_menu li.last {background:none;}
.tree_menu li.last {background:none;}
.tree_menu .depth_3 {display:none;padding-left:23px;}
.tree_menu .depth_3 li {margin:0;padding:3px 0 0 14px;line-height:1;background:url(http://cfile8.uf.tistory.com/image/2456D34B569457FC14828D) no-repeat 0 0;}
.tree_menu .depth_3 li a {display:block;padding-left:15px;background:url(http://cfile26.uf.tistory.com/image/216841455694580A1ADE12) no-repeat 0 2px;}
.msie6 .tree_menu .depth_3 li a {display:inline-block;}
.tree_menu li.end {background:url(http://cfile23.uf.tistory.com/image/2272CF4B5694580418FF9C) no-repeat 0 0;}
.form_tree_menu .depth_1 {background:url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E) no-repeat 5px 5px;}
.form_tree_menu ul.depth_2 li {margin-left:6px;padding-left:27px;background:url(http://cfile25.uf.tistory.com/image/2757834B5694580514C5D6) no-repeat 0 5px;}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
font-size: 9px;
}
.btn_pd{margin-right: 5px; font-size: 10px;}
.mg-left-20{margin-left: 20px; margin-bottom: 10px;}
.table td, .table th {padding:5px;}
.ui-jqgrid tr.jqgrow{font-size: 7px;}
.mg-5{margin: 5px;}
.mg-auto{margin-left: auto; margin-right: auto;}
.label-ba{margin-right: 5px; border: #1b1e21 solid 1px; height: 38px; width: 100px; background-color: #005cbf; font-weight: 700; border-radius: 10px; color: white;}
.in-s-50{width: 50px;}
.se-s-193{width: 193px;}
.top-td-la{width: 100px; text-align: center; background-color: #005cbf; color: white; font-weight: 600; font-size: 11px; padding-top: 100px;}
.table-border-bl{border: solid 1px #999; border-top: 2px solid #005cbf; width: 1500px;}
.table-border-bl2{border: solid 1px #999; border-top: 2px solid #005cbf; width: 950px;}
.content-border{border: #545b6255 solid 0.005mm; padding-top: 20px; padding-bottom: 30px;}
.font-size-18{font-size: 18px; font-weight: 700;}
.pa-b-20{padding-bottom: 20px;}
.file-tree{display: none;}
.ba-color-999{background-color: #b5b5bb;}
.ui-jqgrid-labels{background-color: #1453a1; color: white;}
#jqGrid2 tr{font-size: 9pt;}
#jqgh_jqGrid2_auth_name{font-size: 11pt;}
.bor-bm{ padding-bottom: 10px;}
.font-size-9{font-size: 9pt;}
