/*
* bulid : 2019-07-15
* 제작자 : 김재일
* 투비 MES CSS
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: "Nanum Gothic",
    sans-serif; width: 100%;
    height: 700px;
    font-size: .875rem;
    overflow:hidden;
}
.btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #3a5c8a;
    background-color: #3a5c8a;
    margin-right: 5px;
    font-size: 10px;
    color: #fff;
}
.btn:hover{
    border: 1px solid #6f809a;
    background-color: #6f809a;
    color: #ffffff;
}
table.top-sub-header td.top-right{
    padding-right: 10px;
    width: 50%;
    text-align: right;
}
table.top-sub-header td.top-left{
    padding-left: 10px;
    width: 50%;
    text-align: left;
}
.top-sub-header{
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 9px;
    width: 100%;
    height: 20px;
    margin: auto;
}
.top-header{
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-img{
    padding-left: 10px;
    width: 50%;
    text-align: left;
}
.header-info{
    padding-right: 10px;
    width: 50%;
    text-align: right;
}
.system-menu{
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: auto;
    font-weight: 700;
}
table.system-menu td{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.s-menu{
    text-align: center;
    width: 10%;
    margin-right: 20px;
    padding: 10px;
    font-size: 12px;
}
.s-menu-active{
    background-color: #7b7b7b;
    border-radius: 5px;
}
.s-menu:hover{
    background-color: #7b7b7b;
    border-radius: 5px;
}
.s-menu:visited{
    color: #ffffff;
    text-decoration: none;
}
.s-menu:link{
    color: #ffffff;
    text-decoration: none;
}
table.warp{
    width: 100%;
}
table.warp td.menu{
    width: 17%;
    position: initial;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    border: 5px solid #eee;
    background-color: #f8f9fa;
}
table.warp td.body{
    width: 83%;
    position: initial;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    border: 5px solid #eee;
}
.body-pd{
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 18px;
}
.body-header{
    width: 100%;
}
.body-content{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #cccccc;
}
table.contents td.button-group{
    float: right;
    width: 100%;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}
table.contents td.gb-t{
    width: 15%;
    text-align: center;
    background-color: #6f809a;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-top: 2px solid #6f809a;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;
}
table.contents td.gb-c{
    width: 85%;
    text-align: left;
    border-top: 2px solid #6f809a;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;
}
table.contents{
    width: 100%;
}
.select-list{
    width: 50%;
}
.menu-name{
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    text-align: left;
    float: left;
}
.sub-name{
    font-size: 12px;
    width: 50%;
    text-align: right;
    float: right;
    font-weight: 700;
    color: #696969;
}
table.jqGrid-wrap{
    width: 100%;
}
.ui-jqgrid{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.gb-a:link {color: #000000;text-decoration: none;}
.gb-a:hover {color: #1453a1;text-decoration: none;}
.gb-a:visited {color: #000000;text-decoration: none;}

.nav-link:link {color: #ffffff;text-decoration: none;}
.nav-link:hover {color: #ffffff;text-decoration: none;}
.nav-link:visited {color: #ffffff;text-decoration: none;}

.right{float:right; text-align: right; margin: auto;}
.header{height: 70px;}
.banner{margin-top: 10px; background-color: #ffffff;}
.gb-banner-info{
    font-size: 12px;
    float: right;
    text-align: right;
    margin-top: 12px;
    padding-left: 1300px;
}
.ci-img{
    width: 150px;
}
table.menu-class{
    width: 100%;
    margin-bottom: 10px;
    color: #3c3c3c;
}
table.menu-class td.left-header{
    width: 50%;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
}
table.menu-class td.right-header{
    width: 50%;
    text-align: right;
    font-weight: 700;
    font-size: 11px;
}
.gb-banner{color: #a0a0a0}
p{margin: auto}
.sub_header{background-color: #1453a1; border:1px solid #1453a1; height: 60px; color: #ffffff;}
.quick_menu{margin: auto}
.navs{font-weight: 700;color: #ffffff;}
.down-icon{float: right}

.sub_menu{text-align: left;margin-left: 30px; margin-right: 30px; font-size: .875rem; padding-top:5px; padding-bottom: 5px;}
.sub_menu_a:visited {color: #000000;text-decoration: none;}
.sub_menu_a:hover{color:#1453a1;text-decoration: none;}

.dsub_menu{text-align: left;margin-left: 60px; margin-right: 30px; font-size: .875rem; padding-top:5px; padding-bottom: 5px;}
.dsub_menu_a:visited {color: #000000;text-decoration: none;}
.dsub_menu_a:hover{color:#1453a1;text-decoration: none;}
/*.sub_menu:hover{background-color: #1453a1; color: #ffffff;}*/

/* 트리메뉴 */
.tree_box { width:400px; border:1px solid #ccd3d9;margin: 30px auto;}
.tree_box .title { padding:5px 0 5px 19px ;background:#f8f8f9;border-bottom:1px solid #ccd3d9;}
.tree_box .title strong {margin-right:12px;}
.tree_menu {line-height:18px;}
.tree_menu strong {font-weight:normal;}
.tree_menu label input {vertical-align:-2px;}
.tree_menu .depth_1 a {vertical-align:bottom;text-decoration:none;}
.tree_menu .depth_1 strong {padding-left:19px;background:url(http://cfile26.uf.tistory.com/image/224E6B45569458082AA795) no-repeat 0px 2px;}
.tree_menu .depth_2 li {margin-top:-2px;background:url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E) no-repeat 5px 0px;}
.tree_menu .depth_2 li a em {display:inline-block;width:31px;height:11px;background:url(http://cfile27.uf.tistory.com/image/2265AB4B569457FD1306CB) 100% 0;font-size:0;line-height:0;vertical-align:middle;}
.tree_menu .depth_2 li a em.on {background-position:0 100%;}
.tree_menu li.last {background:none;}
.tree_menu li.last {background:none;}
.tree_menu .depth_3 {display:none;padding-left:23px;}
.tree_menu .depth_3 li {margin:0;padding:3px 0 0 14px;line-height:1;background:url(http://cfile8.uf.tistory.com/image/2456D34B569457FC14828D) no-repeat 0 0;}
.tree_menu .depth_3 li a {display:block;padding-left:15px;background:url(http://cfile26.uf.tistory.com/image/216841455694580A1ADE12) no-repeat 0 2px;}
.msie6 .tree_menu .depth_3 li a {display:inline-block;}
.tree_menu li.end {background:url(http://cfile23.uf.tistory.com/image/2272CF4B5694580418FF9C) no-repeat 0 0;}
.form_tree_menu .depth_1 {background:url(http://cfile9.uf.tistory.com/image/22601F4B569457FF051E7E) no-repeat 5px 5px;}
.form_tree_menu ul.depth_2 li {margin-left:6px;padding-left:27px;background:url(http://cfile25.uf.tistory.com/image/2757834B5694580514C5D6) no-repeat 0 5px;}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
font-size: 9px;
}
.btn_pd{margin-right: 5px; font-size: 10px;}
.public-mg {margin-top :5px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}
.table td, .table th {padding:5px;}
.ui-jqgrid tr.jqgrow{font-size: 7px;}
.mg-5{margin: 5px;}
.mg-auto{margin-left: auto; margin-right: auto;}
.label-ba{margin-right: 5px; border: #1b1e21 solid 1px; height: 38px; width: 100px; background-color: #005cbf; font-weight: 700; border-radius: 10px; color: white;}
.in-s-50{width: 50px;}
.se-s-193{width: 193px;}
.top-td-la{width: 100px; text-align: center; background-color: #e0f2ff; color: #3a5c8a; font-weight: 600; font-size: 11px; padding-top: 12px;}
.table-border-bl{border: solid 1px #cccccc; border-top: 2px solid #336699; width: 100%;}
.table-border-bl2{border: solid 1px #999; border-top: 2px solid #005cbf; width: 950px;}
.content-border{border: #545b6255 solid 0.005mm; padding-top: 10px; padding-bottom: 30px;}
.font-size-18{font-size: 15px; font-weight: 700;}
.pa-b-20{padding-bottom: 20px;}
.file-tree{display: none;}
.ui-jqgrid-labels{background-color: #e0f2ff; color: #3a5c8a; text-align: center;border-top: 2px solid #336699;}
#jqGrid2 tr{font-size: 9pt;}
#jqgh_jqGrid2_auth_name{font-size: 11pt;}
.bor-bm{ padding-bottom: 10px;}
.font-size-9{font-size: 9pt;}

.modal-top{
    background-color: #336699;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-x-button{
    font-size: 18px;
    color: #ffffff;
}
.modal-footer-btn{
    font-size: 12px;
    background-color: #6f809a;
    border: 1px solid;
}
.modal-footer-btn:hover{
    background-color: #696969;
}
.data-warp{
    width: 500px;
    border: 1px solid #c1c1c1;
    padding: 5px;
}
.input-label{
    width: 75px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #696969;
}
.input-data{
    width: 125px;
    margin-right: 30px;
    font-size: 12px;
    text-align: center;
}
.form-warp{
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-bottom: 1px dotted #c1c1c1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content_header{
    width: 100%;
    color: #3a5c8a;
    margin: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
}
.b_gubun{
    font-size: 8px;
}
.b_sub{
    font-size: 12px;
    font-weight: 100;
}
.public{
    background-color: #e0f2ff;
}
table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 2px solid #369;
    margin: 10px 0px 10px 0px;
    width:100%;
}

table.type03 th.public {
    width: 147px;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
    background-color: #e0f2ff;
}
table.type03 th.content {
    width: 147px;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
    background-color: #eeeeee;
}
table.type03 tr.public-tr {
    border-top: 2px solid #369;
}
table.type03 td {
    width: 150px;
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
}
.form-inline label{
    font-size: 11px;
    justify-content: left;
    text-align: left;
    line-height: 1.5;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    color: #153d73;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.mg-20{margin:20px;}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.input-modal{
    width: 100%;
    font-size: 9px;
}
.input-modal:read-only{
    background-color: #eee;
    cursor: not-allowed;
    border: 1px solid #ccc;
}
.select-modal{
    font-size: 9px;
    width: 100%;
    height: 21px;
}
/* select2 */
.select2-results__option,select2-results,select2-selection__rendered,select2-selection,select2,select2-selection--single,select2-container{
    font-size: 9px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    font-size: 9px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-paging-pager, .ui-jqgrid .ui-jqgrid-toppager .ui-paging-pager {
    table-layout: auto;
    height: 100%;
    font-size: 9px;
}
.ui-paging-info{
    font-size: 9px;
}
.duble_jqGrid_wrap{
    width: 100%;
}
.duble_jqGrid_wrap-left{
    width: 30%;
    float: left;
}
.duble_jqGrid_wrap-right{
    width: 70%;
    float: right;
}
.input-cal{
    font-size: 9px;
    width: 144px;
    text-align: center;
}
.width-10{
    width: 10%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-40{
    width: 40%;
}
.width-50{
    width: 50%;
}
.search-input{
    height: 20px;
    width: 50%;
    font-size: 9px;
    padding-left: 5px;
    display: inline;
    border: 1px solid #ccc;
}
.seach-button{
    width: 50px;
    background-color: #ffffff;
    font-size: 9px;
    margin-left: -20px;
}
.seach-button:hover{
    color: #1453a1;
}

/* double grido modal*/

table.db-modal {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 2px solid #369;
    margin: 10px 0px 10px 0px;
    width:50%;
}

table.db-modal th.public {
    width: 15%;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
    background-color: #e0f2ff;
}
table.db-modal th.content {
    width: 15%;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
    background-color: #eeeeee;
}
table.db-modal tr.public-tr {
    border-top: 2px solid #369;
}
table.db-modal td {
    width: 20%;
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 9px;
}
/* end */